@page "/calculator"
@inject HttpClient Http
@using System.Net.Http
<h1>Calculator</h1>

<p>Enter two numbers and select an operation:</p>

<label for="firstNumber">First number:</label>
<input id="firstNumber" @bind="@FirstNumber" type="number" />

<label for="secondNumber">Second number:</label>
<input id="secondNumber" @bind="@SecondNumber" type="number" />

<select @bind="@SelectedOperation">
    <option value="add">Add</option>
    <option value="subtract">Subtract</option>
    <option value="multiply">Multiply</option>
    <option value="divide">Divide</option>
</select>

<button @onclick="Calculate">Calculate</button>

@if (Result != null)
{
    <p>Result: @Result</p>
}


@code {
    private int? FirstNumber { get; set; }
    private int? SecondNumber { get; set; }
    private string SelectedOperation { get; set; }
    private int? Result { get; set; }

    private async Task Calculate()
    {
        // Make API call to calculate result
        var apiUrl = "api/CalcApi/Calculate";
        var data = new { FirstNumber, SecondNumber, Operation = SelectedOperation };
        var response = await Http.PostAsJsonAsync(apiUrl, data);

        // Get result from response
        Result = await response.Content.ReadFromJsonAsync<int>();
        Console.Write(Result);
        // Clear input fields
        FirstNumber = null;
        SecondNumber = null;
    }
}
