@page "/calculator"
@inject HttpClient Http
@using System.Net.Http
@using BlazorApp2.Client.Models
@using System.Net.Http.Headers;
@using System.Net.Http.Json;
<h1>Calculator</h1>

<p>Enter two numbers and select an operation:</p>

<label for="firstNumber">First number:</label>
<input id="firstNumber" @bind-value="@calcInput.FirstNumber" type="number" />

<label for="secondNumber">Second number:</label>
<input id="secondNumber" @bind-value="@calcInput.SecondNumber" type="number" />

<select @bind="@calcInput.SelectedOperation">
    <option value="add">Add</option>
    <option value="subtract">Subtract</option>
    <option value="multiply">Multiply</option>
    <option value="divide">Divide</option>
</select>

<button @onclick="Calculate">Calculate</button>

@if (calcInput.Result != null)
{
    <p>Result: @calcInput.Result</p>
}


@code {
    public CalculationModel calcInput { get; set; } = new CalculationModel();
    private async Task Calculate()
    {
        Http.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));
        var apiUrl = "/api/CalcAPI";
        //var jsonInput = JsonSerializer.Serialize(calcInput);
        var data = new { calcInput.FirstNumber, calcInput.SecondNumber,calcInput.SelectedOperation };

        var response = await Http.PostAsJsonAsync(apiUrl, data);
        if (response.IsSuccessStatusCode)
        {
            var result7 = await response.Content.ReadFromJsonAsync<double>();
            calcInput.Result = result7;
            Console.WriteLine(calcInput.Result);
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"API error: {errorMessage}");
        }

        calcInput.FirstNumber = null;
        calcInput.SecondNumber = null;   
    }


}
